/* Default styles for small screens & anything not caught by @media */
body {
    background-color: #000;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serifs;
    margin-top: 80px;
    padding: 30px;
}


header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-color: #000;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white000;
    text-decoration: none;
}
