/* CSS config */

* {margin: 0; padding: 0; box-sizing: border-box;

    --celestial-blue: #3397DB;
    --misty-rose: #EFD5D3;
    --cyclamen: #EE6D9C;
    --aregentinian-blue: #71B2E9;
    --tangerine: #EF8527;
    --white: #FFFFFF;
    --black: #000000;
    --jet: #454142;
    font-family: Arial, helvetica, sans-serif;
}
/* Elements for body section on all pages */
body {
    height: 100px;
    background-color: var(--misty-rose);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 80%;
    width: 100%;
    margin-top: 85px;
    margin-right: 85px;
    padding: 85px;
    display: responsive;
    overflow-x: hidden;
}

main {
    color: black;
    height: 60%;
}
/* header elements for all pages */
header {
    background-color: var(--misty-rose);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 100;
}

header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
}
header img {
    height: 20%;
    margin-left: 40px;
}
/* elemnts for the navigation bar on all pages */
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 99;
}
/* Main element of the body, setting margin and boundaries */
main.row {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 5%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 80%;
    background-color: #EE6D9C;

   height: 50dvw;
   margin-top: 1%;
   margin-bottom: 1%;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
}
/* image and text overlay in body of the home page */
.image-container {
    position: absolute;
    display: inline-flex;
    justify-content: center;
}
.image-container img {
    display: flex;
    width: 50%;
    height: 50%;
    z-index: 6;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(5, 252, 46, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

/* Footer elements */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100%;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: var(--misty-rose);
    position: absolute;
    left: 0;
}
/* social links */
.social_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem;
    margin-top: auto;
    margin-left: 0;
}


/* mobile first styling */



/* Desktop styling */

@media screen {min-width: 500px;
}

    body {
        background-color: var(--misty-rose);
    }
    
    main.row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
    }
    header img {
        height: 100px;
        margin-left: 50px;
    }
    header {
        height: 100px;
    }
    header li {
        margin: 30px;
    }
    footer {
        background-color: var(--misty-rose);  
        padding: 80px;  
        margin: 0;
        width: 80%;
        position: center;
    }